

<section >

    <ol class="breadcrumb"  align="right">

        <li class="active">Home</li>

    </ol>



</section>
<div class="row">
    <div class="col-lg-3 col-xs-6">
    <!-- small box -->
    <div class="small-box fc-bgevent-container">
        <div class="inner">
            <h3>{{strRegCount | number}}</h3>
        </div>

    </div>
</div>
    <!-- ./col -->
    <div class="col-lg-3 col-xs-9">
        <!-- small box -->
        <div class="small-box bg-red">
            <div class="inner">
                <h3>{{Zdirector_Unfinishedreq+"    "| number }} | {{ "  " +  Zdirector_finishedreq| number }}</h3>

                <p style="font-size: larger">Zonal Director</p>
            </div>

                <div class="icon">
                    <a href="#!/add-zonal_director">  <i class="ion ion-person-add"></i></a>
                </div>

            <a href="#!/unregisteredKegDetails" class="small-box-footer">More info <i
                    class="fa fa-arrow-circle-right"></i></a>
        </div>
    </div>
    <!-- ./col -->
    <div class="col-lg-3 col-xs-9">
        <!-- small box -->
        <div class="small-box bg-maroon">
            <div class="inner">
                <h3>{{Zdirector_Unfinishedreq+"    "| number }} | {{ "  " +  Zdirector_finishedreq| number }}</h3>

                <p style="font-size: larger">General Control</p>
            </div>

            <div class="icon">
                <a href="#!/add-zonal_director">  <i class="ion ion-person-add"></i></a>
            </div>

            <a href="#!/unregisteredKegDetails" class="small-box-footer">More info <i
                    class="fa fa-arrow-circle-right"></i></a>
        </div>
    </div>

    <div class="col-lg-3 col-xs-6">
        <!-- small box -->
        <div class="small-box fc-bgevent-container">
            <div class="inner">
                <h3>{{regiCo2 | number }}</h3>


            </div>

            <div class="icon" align="right">
                <i><img src="../images/high-pressure.png"  class="co2"></i>


            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-3 col-xs-6">
        <!-- small box -->

        <div class="small-box bg-aqua" >

            <div class="inner"  >
                <h3>{{Unfinishedreq+"    "| number }} | {{ "  " +  finishedreq| number }}</h3>

                <p style="font-size: larger"> Account </p>
            </div>

            <div class="icon">
               <a href="#!/add-account"> <i class="ion ion-person-add"></i></a>
            </div>
            <a href="#!/add-account" class="small-box-footer">More info <i
                    class="fa fa-arrow-circle-right"></i></a>
        </div>

    </div>
    <!-- ./col -->
    <div class="col-lg-3 col-xs-6">
        <!-- small box -->
        <div class="small-box bg-orange">
            <div class="inner">
                <h3>{{Develop_Unfinishedreq+"    "| number }} | {{ "  " +  Develop_finishedreq| number }}</h3>

                <p style="font-size: larger">Development</p>
            </div>
            <div class="icon">
                <a href="#!/add-development">  <i class="ion ion-person-add"></i></a>
            </div>
            <a href="#!/unregisteredKegDetails" class="small-box-footer">More info <i
                    class="fa fa-arrow-circle-right"></i></a>
        </div>
    </div>
    <!-- ./col -->
    <div class="col-lg-3 col-xs-6">
        <!-- small box -->
        <div class="small-box bg-purple">
            <div class="inner">
                <h3>{{Planning_Unfinishedreq+"    "| number }} | {{ "  " +  Planning_finishedreq| number }}</h3>

                <p style="font-size: larger">Planning</p>
            </div>
            <div class="icon">
                <a href="#!/add-planning"><i class="ion ion-person-add"></i></a>
            </div>
            <a href="#!/unregisteredKegDetails" class="small-box-footer">More info <i
                    class="fa fa-arrow-circle-right"></i></a>
        </div>
    </div>
    <!-- ./col -->
    <!--<input type="text" ng-model="strUnregCount">-->
    <div class="col-lg-3 col-xs-6">
        <!-- small box -->
        <div class="small-box bg-fuchsia">
            <div class="inner">
                <h3>{{Planning_Unfinishedreq+"    "| number }} | {{ "  " +  Planning_finishedreq| number }}</h3>

                <p style="font-size: larger">Establishment</p>
            </div>
            <div class="icon">
                <a href="#!/add-planning"><i class="ion ion-person-add"></i></a>
            </div>
            <a href="#!/unregisteredKegDetails" class="small-box-footer">More info <i
                    class="fa fa-arrow-circle-right"></i></a>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-3 col-xs-6">
        <!-- small box -->
        <div class="small-box bg-yellow-gradient">
            <div class="inner">
                <h3>44</h3>

                <p style="font-size: larger">Sallary</p>
            </div>
            <div class="icon">
                <i class="ion ion-person-add"></i>
            </div>
            <a href="#!/unregisteredKegDetails" class="small-box-footer">More info <i
                    class="fa fa-arrow-circle-right"></i></a>
        </div>
    </div>
    <!-- ./col -->
    <div class="col-lg-3 col-xs-6">
        <!-- small box -->
        <div class="small-box bg-green">
            <div class="inner">
                <h3>44</h3>

                <p style="font-size: larger">General
                    Admistration</p>
            </div>
            <div class="icon">
                <i class="ion ion-person-add"></i>
            </div>
            <a href="#!/unregisteredKegDetails" class="small-box-footer">More info <i
                    class="fa fa-arrow-circle-right"></i></a>
        </div>
    </div>
    <!-- ./col -->
    <div class="col-lg-3 col-xs-4">
        <!-- small box -->
        <div class="small-box bg-teal">
            <div class="inner">
                <h3>44</h3>

                <p style="font-size: larger"> Administer Officer </p>
            </div>
            <div class="icon">
                <i class="ion ion-person-add"></i>
            </div>
            <a href="#!/unregisteredKegDetails" class="small-box-footer">More info <i
                    class="fa fa-arrow-circle-right"></i></a>
        </div>
    </div>
    <!-- ./col -->
    <!--<input type="text" ng-model="strUnregCount">-->
    <div class="col-lg-3 col-xs-4">
        <!-- small box -->
        <div class="small-box bg-green-gradient">
            <div class="inner">
                <h3>44</h3>

                <p style="font-size: larger">Store</p>
            </div>
            <div class="icon">
                <i class="ion ion-person-add"></i>
            </div>
            <a href="#!/unregisteredKegDetails" class="small-box-footer">More info <i
                    class="fa fa-arrow-circle-right"></i></a>
        </div>
    </div>
</div>